/* Folhas de estilo da página de contatos → contacts.html */

.article-form label {
    display: block;
    padding: 0 0 .5rem .25rem;
}

.article-form form {
    display: block;
    margin: auto;
    max-width: 500px;
}

.article-form input,
.article-form textarea,
.article-form button {
    padding: .5rem;
    border-radius: .3rem;
}

.article-form input,
.article-form textarea {
   width: 100%;
   border: 1px solid red;
   border-bottom: 2px solid red;
   border-right: 2px solid red; 
   background-color: rgb(255, 240, 240);
}

.article-form textarea {
    height: 6rem;
    resize: vertical;
}

.article-form button {
    border: none;
    background-color: gray;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    /* pointer-events: none; */
}

.article-form input:valid,
.article-form textarea:valid {
    border: 1px solid green;
    border-bottom: 2px solid green;
    border-right: 2px solid green; 
    background-color: rgb(232, 240, 254);
}

.article-form form:valid button {
    background-color: steelblue;
    pointer-events: all;
    cursor: pointer;
}

.article-form form small {
    color: grey;
}

.article-form aside div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.article-form aside div i {
    margin: .5rem 0;
}