.author-date {
    font-size: small;
    text-align: right;
    justify-content: flex-end;
    font-style: italic;
    padding: .5rem;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 480px) {
    .author-date {
        flex-direction: row;
    }
}

.aside-author img {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 1rem auto;
}

.aside-author h4 {
    margin: 0;
}

.aside-author ul {
    font-size: .85rem;
    padding-left: 1.5rem;
}

.aside-grid {
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
}

.aside-article {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 90%;
}

.aside-article img {
    display: block;
    width: 4rem;
    height: auto;
    margin-right: .5rem;
}

.aside-article:hover {
    background-color: #eee;
}

@media (max-width: 499px) {
    .aside-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 500px) and (max-width: 767px) {
    .aside-grid {
        grid-template-columns: 1fr 1fr;
    }

    .aside-article:nth-child(odd) {
        justify-self: center;
    }
}

@media (min-width: 768px) {
    .aside-grid {
        grid-template-columns: 1fr;
    }
}