{% extends '_layout.html' %}

{% block article %}

<h2>Artigos Recentes</h2>

<div class="article-grid">

    {% for article in page.articles %}

    <div class="article-box" onclick="location.href='/view/' + {{ article.art_id }}">
        <img src="{{ article.art_thumbnail }}" alt="{{ article.art_title }}">
        <div>
            <h3>{{ article.art_title }}</h3>
            {{ article.art_resume }}
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}

{% block aside %}

<!-- Conteudo fake de teste → REMOVA-ME!!!! -->
<h3>Título do aside</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

{% endblock %}